APP_ENV=development|test|production

# PostgreSQL
POSTGRES_USER=YOUR_POSTGRES_USER
POSTGRES_PASSWORD=YOUR_POSTGRES_PASSWORD
POSTGRES_PORT=YOUR_POSTGRES_PORT
POSTGRES_DEFAULT_DB=YOUR_POSTGRES_DEFAULT_DB

KEYCLOAK_DB_NAME=YOUR_KEYCLOAK_DB_NAME
TICKETS_DB_NAME=YOUR_TICKETS_DB_NAME
DOCUMENTS_DB_NAME=YOUR_DOCUMENTS_DB_NAME

# Redis
REDIS_PASSWORD=YOUR_REDIS_PASSWORD
REDIS_PORT=YOUR_REDIS_PORT

# Keycloak
KEYCLOAK_ADMIN=YOUR_KEYCLOAK_ADMIN
KEYCLOAK_ADMIN_PASSWORD=YOUR_KEYCLOAK_ADMIN_PASSWORD
KEYCLOAK_PORT=YOUR_KEYCLOAK_PORT
KEYCLOAK_REALM=YOUR_KEYCLOAK_REALM

KEYCLOAK_PUBLIC_BASE_URL=YOUR_KEYCLOAK_PUBLIC_BASE_URL

# Team Tickets
TICKETS_API_PORT=YOUR_TICKETS_API_PORT
TICKETS_WEB_PORT=YOUR_TICKETS_WEB_PORT
TICKETS_PUBLIC_API_BASE_URL=YOUR_TICKETS_PUBLIC_API_BASE_URL
TICKETS_KEYCLOAK_CLIENT_ID=YOUR_TICKETS_KEYCLOAK_CLIENT_ID

# Team Documents
DOCUMENTS_API_PORT=YOUR_DOCUMENTS_API_PORT
DOCUMENTS_WEB_PORT=YOUR_DOCUMENTS_WEB_PORT
DOCUMENTS_PUBLIC_API_BASE_URL=YOUR_DOCUMENTS_PUBLIC_API_BASE_URL
DOCUMENTS_KEYCLOAK_CLIENT_ID=YOUR_DOCUMENTS_KEYCLOAK_CLIENT_ID