APP_ENV=dev|test|staging|production

# PostgreSQL
POSTGRES_USER=YOUR_POSTGRES_USER
POSTGRES_PASSWORD=YOUR_POSTGRES_PASSWORD
POSTGRES_DEFAULT_DB=YOUR_POSTGRES_DEFAULT_DB

TEAM_KEYCLOAK_DB_USERNAME=YOUR_TEAM_KEYCLOAK_DB_USERNAME
TEAM_KEYCLOAK_DB_PASSWORD=YOUR_TEAM_KEYCLOAK_DB_PASSWORD
TEAM_KEYCLOAK_DB=YOUR_TEAM_KEYCLOAK_DB

TEAM_ORGANIZATION_DB_USERNAME=YOUR_TEAM_ORGANIZATION_DB_USERNAME
TEAM_ORGANIZATION_DB_PASSWORD=YOUR_TEAM_ORGANIZATION_DB_PASSWORD
TEAM_ORGANIZATION_DB=YOUR_TEAM_ORGANIZATION_DB

TEAM_TICKETS_DB_USERNAME=YOUR_TEAM_TICKETS_DB_USERNAME
TEAM_TICKETS_DB_PASSWORD=YOUR_TEAM_TICKETS_DB_PASSWORD
TEAM_TICKETS_DB=YOUR_TEAM_TICKETS_DB

TEAM_DOCUMENTS_DB_USERNAME=YOUR_TEAM_DOCUMENTS_DB_USERNAME
TEAM_DOCUMENTS_DB_PASSWORD=YOUR_TEAM_DOCUMENTS_DB_PASSWORD
TEAM_DOCUMENTS_DB=YOUR_TEAM_DOCUMENTS_DB

TEAM_CHATS_DB_USERNAME=YOUR_TEAM_CHATS_DB_USERNAME
TEAM_CHATS_DB_PASSWORD=YOUR_TEAM_CHATS_DB_PASSWORD
TEAM_CHATS_DB=YOUR_TEAM_CHATS_DB

TEAM_IT_SERVICES_DB_USERNAME=YOUR_TEAM_IT_SERVICES_DB_USERNAME
TEAM_IT_SERVICES_DB_PASSWORD=YOUR_TEAM_IT_SERVICES_DB_PASSWORD
TEAM_IT_SERVICES_DB=YOUR_TEAM_IT_SERVICES_DB

TEAM_NOTIFICATION_DB_USERNAME=YOUR_TEAM_NOTIFICATION_DB_USERNAME
TEAM_NOTIFICATION_DB_PASSWORD=YOUR_TEAM_NOTIFICATION_DB_PASSWORD
TEAM_NOTIFICATION_DB=YOUR_TEAM_NOTIFICATION_DB

# Redis
REDIS_PASSWORD=YOUR_REDIS_PASSWORD

# Keycloak
KC_DB=YOUR_KC_DB
KC_DB_URL_HOST=YOUR_KC_DB_URL_HOST
KC_DB_URL_PORT=YOUR_KC_DB_URL_PORT

KC_BOOTSTRAP_ADMIN_USERNAME=YOUR_KC_BOOTSTRAP_ADMIN_USERNAME
KC_BOOTSTRAP_ADMIN_PASSWORD=YOUR_KC_BOOTSTRAP_ADMIN_PASSWORD

# Mailpit - only used in dev and test environments
MP_SMTP_AUTH=YOUR_MP_USERNAME:YOUR_MP_PASSWORD
MP_SMTP_AUTH_ALLOW_INSECURE=YOUR_MP_SMTP_AUTH_ALLOW_INSECURE

# RabbitMQ 
RABBITMQ_DEFAULT_USER=YOUR_RABBITMQ_DEFAULT_USER
RABBITMQ_DEFAULT_PASS=YOUR_RABBITMQ_DEFAULT
RABBITMQ_DEFAULT_VHOST=YOUR_RABBITMQ_DEFAULT_VHOST