APP_ENV=development|test|staging|production

# PostgreSQL
POSTGRES_USER=YOUR_POSTGRES_USER
POSTGRES_PASSWORD=YOUR_POSTGRES_PASSWORD
POSTGRES_DEFAULT_DB=YOUR_POSTGRES_DEFAULT_DB

TEAM_KEYCLOAK_DB=YOUR_TEAM_KEYCLOAK_DB
TEAM_KEYCLOAK_DB_USERNAME=YOUR_TEAM_KEYCLOAK_DB_USERNAME
TEAM_KEYCLOAK_DB_PASSWORD=YOUR_TEAM_KEYCLOAK_DB_PASSWORD

TEAM_TICKETS_DB=YOUR_TEAM_TICKETS_DB
TEAM_TICKETS_DB_USERNAME=YOUR_TEAM_TICKETS_DB_USERNAME
TEAM_TICKETS_DB_PASSWORD=YOUR_TEAM_TICKETS_DB_PASSWORD

TEAM_DOCUMENTS_DB=YOUR_TEAM_DOCUMENTS_DB
TEAM_DOCUMENTS_DB_USERNAME=YOUR_TEAM_DOCUMENTS_DB_USERNAME
TEAM_DOCUMENTS_DB_PASSWORD=YOUR_TEAM_DOCUMENTS_DB_PASSWORD

# Redis
REDIS_PASSWORD=YOUR_REDIS_PASSWORD

# Keycloak
KC_DB=YOUR_KC_DB
KC_DB_URL_HOST=YOUR_KC_DB_URL_HOST
KC_DB_URL_PORT=YOUR_KC_DB_URL_PORT

KC_BOOTSTRAP_ADMIN_USERNAME=YOUR_KC_BOOTSTRAP_ADMIN_USERNAME
KC_BOOTSTRAP_ADMIN_PASSWORD=YOUR_KC_BOOTSTRAP_ADMIN_PASSWORD